{% extends 'base.html' %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block base_static %}
{% endblock %}

{% block static %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/login_style.css') }}" type="text/css"/>
{% endblock %}

{% block panel %}
{% endblock %}

{% block content %}
    <div id="authorize">


        <form id="form" name="form" action="/" method="post">
            <div id="block">
                <label id="user" for="name">Log</label>
                <input type="text" name="login" id="name" placeholder="Логин" required/>
                <label id="pass" for="password">Pas</label>
                <input type="password" name="password" id="password" placeholder="Пароль" required/>
                <input type="submit" id="submit" name="submit" value="Войти">
            </div>
        </form>

    </div>
{% endblock %}


